.logo-color-classes {
  @apply text-primary-claim;
}

.division-fifths {
  .left-layout {
    @apply lg:w-[40%];
  }

  .right-layout {
    @apply lg:w-[60%];
  }
}

.left-layout {
  @apply bg-primary-white text-primary-blue lg:h-screen lg:relative lg:w-1/2;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  width: 36px;
  height: 36px;
  @media (min-width: 768px) {
    display: block;
  }
}

.left-layout {
  &.layout-red {
    @apply bg-primary-red text-primary-white;

    .search-icon {
      @apply text-primary-white;
    }

    .logo-color-classes {
      @apply text-primary-white;
    }

    .logo-claim {
      background-color: transparent;
      @apply text-primary-white;
    }
    
  }

  &.layout-blue {

    @apply bg-primary-blue text-primary-white;

    .logo-color-classes {
      @apply text-primary-white;
    }

    .logo-claim {
      background-color: transparent;
      @apply text-primary-white;
    }
  }
  
  &.layout-yellow {
    @apply bg-primary-yellow;

    .search-icon {
      @apply text-primary-blue;
    }

    .logo-color-classes {
      @apply text-primary-blue;
    }
    .logo-claim {
      background-color: transparent;
      @apply text-primary-blue;
    }

    .swiper-button-next,
    .swiper-button-prev {
      @apply text-primary-blue;
    }
  }

}

.right-layout {
  @apply bg-primary-red text-primary-white lg:w-1/2;
  .language-select {
    svg {
      @apply text-primary-blue;
    }
    @apply text-primary-blue;
  }
  .search-icon {
    @apply text-primary-blue lg:text-primary-white;
  }

  .swiper-button-next,
  .swiper-button-prev {
    @apply text-primary-white;
  }

  &.layout-white {
    @apply bg-primary-white text-primary-blue;
    .language-select {
      svg {
        @apply text-primary-white;
      }
      @apply text-primary-white;
    }
    .search-icon {
      @apply text-primary-blue;
    }
  }

  &.layout-yellow {
    @apply bg-primary-yellow;

    .search-icon {
      @apply text-primary-blue;
    }

    .swiper-button-next,
    .swiper-button-prev {
      @apply text-primary-blue;
    }
  }


  &.layout-blue {
    @apply bg-primary-blue;

    .search-icon {
      @apply text-primary-white;
    }

    .swiper-button-next,
    .swiper-button-prev {
      @apply text-primary-blue;
    }
  }
}

.richtext {
  h1,
  .h1 {
    @apply text-3xl-fluid font-semibold;
  }

  h2,
  .h2 {
    @apply text-2xl-fluid font-semibold;
  }

  h3,
  .h3 {
    @apply text-xl-fluid font-semibold mb-8;
  }

  h4,
  .h4 {
    @apply text-lg-fluid font-bold;
  }

  .lead {
    @apply text-xl-fluid;
  }

  p {
    @apply text-lg mb-8 text-left;
  }
  span {
    @apply text-lg;
  }
  a {
    text-decoration: underline;
    text-decoration-color: rgb(154, 139, 20);

    &:hover,
    &:focus {
      @apply text-tertiary-yellow;
    }
  }
  a[target='_blank'] {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNLTEwMjAtMjQxMkg1ODB2NTEyMGgtMTYwMHoiLz48cGF0aCBkPSJNMTQuMDY3IDQuNzZsMTEuMTMuNDQyLjMyMyAxMS4wNjUtMi4yOTMuMDY4LS4yMTMtNy4zMTRMNS45NDggMjYuMDg2bC0xLjYyMS0xLjYyMkwyMS40NDMgNy4zNDhsLTcuNDY3LS4yOTd6IiBmaWxsPSIjMDEyRTVBIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PC9zdmc+Cg==');
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 30px;
  }


}
  .left-layout p {
    & a[target='_blank'] {
      background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNLTEwMjAtMjQxMkg1ODB2NTEyMGgtMTYwMHoiLz48cGF0aCBkPSJNMTQuMDY3IDQuNzZsMTEuMTMuNDQyLjMyMyAxMS4wNjUtMi4yOTMuMDY4LS4yMTMtNy4zMTRMNS45NDggMjYuMDg2bC0xLjYyMS0xLjYyMkwyMS40NDMgNy4zNDhsLTcuNDY3LS4yOTd6IiBmaWxsPSIjOUE4QjE0IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PC9zdmc+Cg==');
      background-position: center right;
      background-repeat: no-repeat;
      padding-right: 30px;
    }
  }
  .left-layout {
    .image-wrapper {
    }
    figure {
    @apply flex  pb-8;
    }
  }

  .about-content {
    .title-element {
      @apply text-2xl-fluid font-semibold
    }
  }