.logo-color-classes {
  @apply text-primary-claim;
}

.color-index .left-layout {
  @apply bg-primary-white text-primary-blue lg:h-screen lg:relative lg:w-1/2;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  width: 36px;
  height: 36px;
  @media (min-width: 768px) {
    display: block;
  }
}

.left-layout {
  &.layout-blue {
    @apply bg-primary-blue text-primary-white;

    .logo-color-classes {
      @apply text-primary-white;
    }
    .logo-claim {
      background-color: transparent;
      @apply text-primary-white;
    }
  }
}
.color-index .right-layout {
  @apply bg-primary-red text-primary-white lg:w-1/2;

  .search-icon {
    @apply text-primary-white;
  }

  .swiper-button-next,
  .swiper-button-prev {
    @apply text-primary-white;
  }

  &.layout-white {
    @apply bg-primary-white text-primary-blue;

    .search-icon {
      @apply text-primary-blue;
    }
  }
  &.layout-yellow {
    @apply bg-primary-yellow;

    .search-icon {
      @apply text-primary-blue;
    }

    .swiper-button-next,
    .swiper-button-prev {
      @apply text-primary-blue;
    }
  }
  &.layout-blue {
    @apply bg-primary-blue;

    .search-icon {
      @apply text-primary-white;
    }

    .swiper-button-next,
    .swiper-button-prev {
      @apply text-primary-blue;
    }
  }
}
