<template>
  <div>{{"SLUG"}}</div>
  <div v-if="currentPublication">
    <colored-layout
      :left-color="leftColor"
      right-color="white"
      division-mode="fifths"
    >
      <template slot="side">
        <aside id="navigation" class="h-full pb-6">
          <navigation-breadcrumb
            v-if="showBreadcrumb"
            :path="menuPath"
            class="!lg:hidden mb-10"
          />
          <navigation-breadcrumb-mobile
            v-if="showBreadcrumb"
            :path="menuPath"
            class="mb-6 lg:hidden text-secondary-yellow"
          />
          <detail-page-left-content :content="headerContent" :title="title" />
        </aside>
      </template>
      <div slot="main">
        <main-content
          id="main"
          :content-list="content"
          :show-accordions="!isAboutPage"
        />
      </div>
    </colored-layout>
  </div>
</template>

<script>
  import MainContent from "@/components/MainContent";
  import NavigationBreadcrumb from "@/components/NavigationBreadcrumb";
  import DetailPageLeftContent from "../components/DetailPageLeftContent.vue";

  import NavigationBreadcrumbMobile from "../components/NavigationBreadcrumbMobile.vue";
  import getData from "../generate/slugLogic.js";

  export default {
    components: {
      DetailPageLeftContent,
      MainContent,
      NavigationBreadcrumb,
      NavigationBreadcrumbMobile,
    },
    provide() {
      return {
        // provide a reactive pageTitle variable for debugging/logging purposes
        pageTitle: () => this.title,
      };
    },
    async asyncData(args) {
      return await getData(args);
    },
    data() {
      return {
        currentPublication: null,
        availableLanguages: [],
        menuPath: [],
        language: "de",
        canonical: "",
      };
    },
    computed: {
      headerContent() {
        return this.currentPublication.content[0].containers.left;
      },
      title() {
        return this.currentPublication.metadata.title;
      },
      content() {
        return this.currentPublication.content[0].containers.right;
      },
      showBreadcrumb() {
        return ["regular", "page"].includes(
          this.currentPublication.systemdata.contentType
        );
      },
      openGraphImage() {
        return this.currentPublication.metadata.openGraphImage?.url
          ? this.currentPublication.metadata.openGraphImage.url
          : "";
      },
      twitterImage() {
        return this.currentPublication.metadata.twitterImage?.url
          ? this.currentPublication.metadata.twitterImage.url
          : "";
      },
      isAboutPage() {
        return this.currentPublication.systemdata.contentType === "about";
      },
      leftColor() {
        return this.isAboutPage ? "red" : "blue";
      },
      robots() {
        const seoRobots = this.currentPublication.metadata.seoRobots;
        if (process.env.IS_DEVELOPMENT) {
          return "noindex, nofollow";
        }
        return seoRobots || "all";
      },
    },
    head() {
      if (!this.currentPublication) {
        return {};
      }
      return {
        htmlAttrs: {
          lang: this.language,
        },
        title: this.currentPublication.metadata?.metaTitle || "ch-ch",
        meta: [
          { hid: "robots", name: "robots", content: this.robots },
          {
            hid: "og:title",
            property: "og:title",
            content: this.currentPublication.metadata.openGraphTitle,
          },
          {
            hid: "og:description",
            property: "og:description",
            content: this.currentPublication.metadata.openGraphDescription,
          },
          {
            hid: "og:image",
            property: "og:image",
            content: this.openGraphImage,
          },
          {
            hid: "og:type",
            property: "og:type",
            content: this.currentPublication.metadata.openGraphType,
          },
          {
            hid: "twitter:title",
            name: "twitter:title",
            content: this.currentPublication.metadata.twitterTitle,
          },
          {
            hid: "twitter:description",
            name: "twitter:description",
            content: this.currentPublication.metadata.twitterDescription,
          },
          {
            hid: "twitter:site",
            name: "twitter:site",
            content: "@ch_portal",
          },
          {
            hid: "twitter:card",
            name: "twitter:card",
            content: this.currentPublication.metadata.twitterCard,
          },
          {
            hid: "twitter:image",
            name: "twitter:image",
            content: this.twitterImage,
          },
          {
            hid: "description",
            name: "description",
            content: this.currentPublication?.metadata?.metaDescription || "",
          },
          {
            hid: "title",
            name: "title",
            content: this.currentPublication?.metadata?.metaTitle || "",
          },
        ],
        link: [
          this.canonical
            ? {
                rel: "canonical",
                href: this.canonical,
              }
            : {},
        ],
      };
    },
  };
</script>
